php_flag magic_quotes_gpc Off
php_value max_input_vars 100000
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule ^ index.php [QSA,L]
